<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">lugo</a>
      <form class="d-flex" role="search">
        <select [(ngModel)]="usuarioSeleccionado" name="select-usuarios" class="usuarios" id="usuario">
          <option value={{element.nombre}} *ngFor="let element of usuarios">{{element.nombre+' '+element.apellido}}</option>
        </select>
        <button (click)="openModal(myModal)" class="btn btn-ordenes" type="button">Ver ordenes</button>
      </form>
    </div>
</nav>

<ng-template #myModal>
  <div class="modal-header">
    <h4 *ngIf="usuarioSeleccionado != undefined" class="modal-title">{{usuarioSeleccionado}}, Estas son tus ordenes</h4>
    <h4 *ngIf="usuarioSeleccionado == undefined" class="modal-title">Selecciona un usuario</h4>
  </div>
  <div class="modal-body">
    <div *ngFor="let index of ordenesUsuario" id="pedido">
      <span class="nombre-producto">{{index.nombreProducto}}</span>
      <p id="descripcion">{{index.descripcion}}</p>
      <b id="precio">${{index.precio}}</b>
      <hr>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cerrar</button>
  </div>
</ng-template>


<div class="container">
  <div class="starter-template">
    <h1 class="titulo">¡Hola {{usuarioSeleccionado}}!</h1>
    <h1 class="subtitulo">¿Que necesitas?</h1>
  </div>
</div>
