<main role="main" class="container">
    <div id="contenedor">
        <div *ngFor="let index of categorias" [style.background-color]="index.color" id="categoria">
            <div class="icono"><i class="{{index.icono}}"></i></div>
            <div class="titulos">
                <h4 id="nombre-categoria">{{index.nombreCategoria}}</h4>
                <span id="comercios">{{index.empresas.length}} comercios</span>
            </div>    
        </div>        
    </div>
</main><!-- /.container -->
