<main role="main" class="container">
    <div class="starter-template">
        <h1 class="titulo">¡Hola Pedro!</h1>
        <h1 class="subtitulo">¿Que necesitas?</h1>
    </div>
    <div id="contenedor">
        <div id="categoria">
            <div class="icono"><span>ICONO</span></div>
            <div class="titulos">
                <h4 id="nombre-categoria">Farmacias</h4>
                <span id="comercios">3 comercios</span>
            </div>    
        </div>
        <div id="categoria">
            <div class="icono"><span>ICONO</span></div>
            <div class="titulos">
                <h4 id="nombre-categoria">Farmacias</h4>
                <span id="comercios">3 comercios</span>
            </div>    
        </div>
        <div id="categoria">
            <div class="icono"><span>ICONO</span></div>
            <div class="titulos">
                <h4 id="nombre-categoria">Farmacias</h4>
                <span id="comercios">3 comercios</span>
            </div>    
        </div>
        <div id="categoria">
            <div class="icono"><span>ICONO</span></div>
            <div class="titulos">
                <h4 id="nombre-categoria">Farmacias</h4>
                <span id="comercios">3 comercios</span>
            </div>    
        </div>
        <div id="categoria">
            <div class="icono"><span>ICONO</span></div>
            <div class="titulos">
                <h4 id="nombre-categoria">Farmacias</h4>
                <span id="comercios">3 comercios</span>
            </div>    
        </div>
        <div id="categoria">
            <div class="icono"><span>ICONO</span></div>
            <div class="titulos">
                <h4 id="nombre-categoria">Farmacias</h4>
                <span id="comercios">3 comercios</span>
            </div>    
        </div>
        <div id="categoria">
            <div class="icono"><span>ICONO</span></div>
            <div class="titulos">
                <h4 id="nombre-categoria">Farmacias</h4>
                <span id="comercios">3 comercios</span>
            </div>    
        </div>
        <div id="categoria">
            <div class="icono"><span>ICONO</span></div>
            <div class="titulos">
                <h4 id="nombre-categoria">Farmacias</h4>
                <span id="comercios">3 comercios</span>
            </div>    
        </div>
        <div id="categoria">
            <div class="icono"><span>ICONO</span></div>
            <div class="titulos">
                <h4 id="nombre-categoria">Farmacias</h4>
                <span id="comercios">3 comercios</span>
            </div>    
        </div>
        <div id="categoria">
            <div class="icono"><span>ICONO</span></div>
            <div class="titulos">
                <h4 id="nombre-categoria">Farmacias</h4>
                <span id="comercios">3 comercios</span>
            </div>    
        </div>
        
    </div>
</main><!-- /.container -->
