#contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
}

#categoria {
    display: flex;
    flex-direction: column;
    background-color: #9CC1E6;
    border-radius: 10%;
    width: 228px;
    height: 200px;
    margin-top: 15px;
}

#categoria:hover {
    cursor: pointer;
    opacity: 80%;
}

.icono {
    display: flex;
    width: 81px;
    height: 70px;
    margin: 20px 20px 33px;
    background-color: white;
    color: #5C3287;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 3rem;
}
.container {
    margin-top: 20px;
}
.titulos {
    color: white;
    padding-left: 20px;
}

#nombre-categoria {
    font-weight: 700;
    letter-spacing: .1rem;
    margin-bottom: 0px;
}

#comercios {
    font-size: 1.1rem;
}

.modal-header {
    padding: 10px;
    background-color: #5C3287;
    color: white;
    font-weight: 800!important;
    font-size: 3rem;
}
.modal-content {
    width: 700px;
}

.modal-body {
    margin: 20px;
    border: 1px solid #eaeaea;
    border-radius: 12px;
}

.negocios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}


.modal-empresas {
    width: 750px;
    background-color: #FFF;
}

#negocio {
    border: 1px solid #eaeaea;
    border-radius: 12px;
    margin: 10px;
}

#texto-negocio {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
    background-color: white;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    
}

#nombre-producto {
    color: #5C3287;
    font-size: 1.3rem;
    margin-bottom: 0;
}
#descripcion-producto {
    font-size: 0.8rem;
}

.btn-pedir {
    background-color: #5C3287;
    color: white;
    border-radius: 10px;
    border: none;
}

.modal-pedir {
        position: fixed;
        background-color: #cecece;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
