#contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
}

#categoria {
    display: flex;
    flex-direction: column;
    background-color: #9CC1E6;
    border-radius: 10%;
    width: 228px;
    height: 200px;
    margin-top: 15px;
}

#categoria:hover {
    cursor: pointer;
    opacity: 80%;
}

.icono {
    display: flex;
    width: 81px;
    height: 70px;
    margin: 20px 20px 33px;
    background-color: white;
    color: #5C3287;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 3rem;
}
.container {
    margin-top: 20px;
}
.titulos {
    color: white;
    padding-left: 20px;
}

#nombre-categoria {
    font-weight: 700;
    letter-spacing: .1rem;
    margin-bottom: 0px;
}

#comercios {
    font-size: 1.1rem;
}

.modal-header {
    padding: 10px;
    background-color: #5C3287;
    color: white;
    font-weight: 800!important;
    font-size: 3rem;
}
.modal-content {
    width: 700px;
}

.modal-body {
    margin: 20px;
    border: 1px solid #eaeaea;
    border-radius: 12px;
}